@using System.Globalization
<!DOCTYPE html>
<html lang="@GetLanguageCode()" dir="@GetTextDirection()">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="WebApp.styles.css" />
    <link rel="shortcut icon" href="images/favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

@code {
    private string GetLanguageCode()
    {
        return CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
    }

    private string GetTextDirection()
    {
        // Arabic cultures use RTL
        return CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "ar" ? "rtl" : "ltr";
    }
}
